<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.javaboy.vhr.mapper.EmpSalaryMapper" >
  <resultMap id="BaseResultMap" type="org.javaboy.vhr.bean.EmpSalary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="eid" property="eid" jdbcType="INTEGER" />
    <result column="sid" property="sid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, eid, sid
  </sql>
<!--  根据员工id设置套账名称-->
  <insert id="insertSalByEid" parameterType="org.javaboy.vhr.bean.EmpSalary" >
    insert into empsalary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      eid,sid
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{eid},#{sid}
    </trim>
  </insert>
  <update id="updateByEid" parameterType="java.lang.Integer">
    update empsalary set sid=#{sid} where eid=#{eid};
  </update>

</mapper>